<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Reddit Top 5 Search</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 btm-margin">
      <form class="form-inline text-center">
        <label for="Subject"></label>
        <input name="subject" type="text" class="form-control" [(ngModel)]="query">
        <button class="btn btn-default" type="submit" (click)="searchPosts()">Submit</button>
      </form>
    </div>
  </div>
  <input type="text"
              placeholder="Search List"
              class="filter-input"
              [(ngModel)]="searchText">
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <ol>
        <li *ngFor="let post of postList | searchBy: ['data.title']: [searchText]">
          <a href="{{ post.data.url }}">
            <span class="text-center">{{ post.data.title }}</span>
          </a>
          <br><span class="glyphicon glyphicon-arrow-up"></span><span class="upvotes">{{ post.data.ups }} upvotes</span>
          <img src="{{ post.data.thumbnail }}" alt="" class="img-responsive">
          <span class="info-text">submitted {{ post.data.created | date }}
          by {{ post.data.author }}</span>
        </li>
      </ol>
    </div>
  </div>
</div>
